/*alx-frontend-for-fun*/
// main.scss

@import "10-colors";

.red {
  color: $red; // Text color from 10-colors.scss variable
}

.green {
  color: $green; // Text color from 10-colors.scss variable
}

.blue {
  color: $blue; // Text color from 10-colors.scss variable
}
